.btn {
	&:link,
	&:visited {
		display: inline-block;
		font-size: 1.3rem;
		color: $color-white;
		border: 1px solid $color-grey-light;
		border-radius: 5px;
		padding: 1rem 2rem;
		text-decoration: none;
		transition: all 0.3s ease;
	}

	&:hover,
	&:active {
		background-color: rgba($color-grey-light, 0.2);
	}
}

.heading__primary {
	color: $color-white;
	font-size: 4.5rem;
	font-weight: 700;

	@include respond(phone) {
		font-size: 3rem;
		line-height: 1.3;
	}
}

.paragraph {
	&-large {
		font-size: 1.6rem;
		font-weight: 400;
		color: $color-grey;
		width: 60%;

		@include respond(phone) {
			width: 100%;
			font-size: 1.4rem;
			line-height: 1.6;
		}

		b {
			color: $color-white !important;
			text-transform: uppercase;
		}
	}
	&-small {
		color: $color-grey-light;
		font-size: 1.3rem;
	}
}
